<h2>Articles</h2>
<br>
{{#unless articles}}
    <div class="card mb-4">
        <div class="card-body">There are no articles pulled. <a href="/scrape">Scrape for articles</a>?</div>
    </div>
{{/unless}}
{{#each articles}}
<div class="card mb-4" data-id="{{this.id}}">
    <figure class="article-image">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    </figure>
    <div class="card-body">
        <h2 class="card-title">{{this.title}}</h2>
        <a href="#" class="btn btn-primary">Read More</a>
        <a href="#" class="btn btn-primary">Leave a Comment</a>
        <a href="#" class="btn btn-primary">Save for Later</a>
    </div>
    <div class="card-footer text-muted">
        Posted by {{this.byline}}
    </div>
</div>
{{/each}}