<h2>Articles</h2>
{{#each articles}}
<div class="card mb-4" data-id="{{this.id}}">
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{this.title}}</h2>
        <p class="card-text">{{this.description}}</p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
        <a href="#" class="btn btn-primary">Leave a Comment &rarr;</a>
        <a href="#" class="btn btn-primary">Save for Later &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on <span class="article-date">some date</span> by <span class="article-author">Start Bootstrap</span>
    </div>
</div>
{{/each}}