@import url(https://fonts.googleapis.com/css?family=Arvo);

html, body {
    height: 100%;
}

body {
    padding-top: 54px;
}
main {
    min-height: 100%;
}

.jumbotron {
    background: url("../imgs/everydayisanewstart.jpg");
    color: #f1d47d;
    font-family: Arvo;
    margin-top: -68px;
    margin-bottom: -34px;
}
#wrapper {
    overflow:auto;
}
footer {
    position: relative;
    margin-top: -4px;
    clear:both;
}

.text-shadow {
    font-weight: bold;
    text-shadow: -3px -3px 20px #222, 3px -3px 0 #222, -3px 3px 0 #222, 3px 3px 0 #222, 4px 4px 0 #0e0d0d;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
}

.text-small {
    font-size: 0.7em;
}
.text-mid {
    font-size: 5em;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
    .card {
        width: 50%;
        float: left;
    }
    .cardbody {
        height: 200px;
    }

    figure {
        height: 300px;
        overflow: hidden;
    }
    figure.article-image img{
        display:block;
        height:100%;
    }
}
